@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <input name="id" placeholder="Id..."/>
    <input name="name" placeholder="Name..."/>
    <input name="genre" placeholder="Genre..."/>
    <input type="submit" value="Add game" />
</form>